<h1>Sign-up</h1>

    <% if flash[:notice]%>
        <div class="alert alert-danger" role="alert">
            <%= flash[:notice] %>
        </div>
    <%end%>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Return to Login", users_path, class: 'btn btn-outline-primary' %>
</div>
