
<div class="order-md-2 mb-4">
        
    <% if current_user.member_plus %>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Confirm shipping</span>
        </h4>
        <%= form_with url: update_shipping_path, method: :patch, data: {turbo: false} do |f| %>
            <%= f.select :shipping_option_id, options_for_select([['Member Plus: 2-Day Free', 1],['Member Plus: Overnight (1.99/Item)', 2]], current_user.cart_items.first.shipping_option_id), {}, {class: "form-select mb-3"}%>
            <%= f.submit 'Update', class: 'btn btn-primary' %>
        <% end %>
    <% end %>
</div>